@media all and (max-width: 1000px) {
    .profile-wrapper {
        width: 100%;
        padding: 50px;
    }

    .profile {
        width: 100%;
    }
}

@media all and (max-width: 670px) {
    .profile-wrapper {
        width: 100%;
        padding: 50px 0;
    }

    .profile {
        width: 100%;
        height: 330px;
        text-align: center;
    }
    
    .describe {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .foto-left, .foto-right, .describe-right, .describe-left {
        float: none;  
    }

}
